html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
header{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: #333;
    color: rgb(165, 242, 197);
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
a:hover{
    color: rgb(162, 233, 255);
    transition: 0.4s;
    background-color: rgb(67, 67, 67);
    transform: scale(1.01);
    text-decoration: underline;
    color: aqua;
    
}

/* Carrusel */


.carrusel {
    background-image: linear-gradient(#13949089, #23f2eb6f, #0892b16f);
  

}

.carousel-container {
    background-color: rgba(0, 0, 0, 0.292);
    position: relative;
    width:50vw;
    max-width:600px;
    height: auto; 
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    transition: transform 1s ease;
}

.carousel-image {
    min-width: 100%;
    height: auto; /* Ajustado la altura automáticamente */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.311);
    color: rgb(0, 94, 255);
    font: bold;
    border: none;
    padding: 6px; /* Reducido el tamaño del padding */
    cursor: pointer;
    font-size: 14px; /* Reducido el tamaño de la fuente */
    border-radius: 50%;
    user-select: none;
    z-index: 10;
}

.prev {
    left: 6px; /* Reducido el espacio a la izquierda */
}

.next {
    right: 6px; /* Reducido el espacio a la derecha */
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}